* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a {
    text-decoration: none;
}

.body-home {
    background: #f3f3f3;
}

hr {
    border: 0;
    margin: 5px
}

p {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
    margin: 0;
}

/* Botones */
.content-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-huellapet {
    width: fit-content;
    border-radius: 10px;
    color: white;
    background-color: #2F6A74;
    padding: 8px 25px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-huellapet:hover {
    background-color: #398891;
    color: #f0f7f9; 
}



/* Nav1************************* */

.content-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

}

.color-nav {
    background-color: #ffffff;
    z-index: 900;
}

.color-nav a i,
h6 {
    color: #2F6A74;
    margin: 0;
    cursor: pointer;
}

.color-nav a:hover i,
h6:hover {
    color: #528E96;
}

.btn-outline-success {
    background-color: #2F6A74;
    border: 1px solid #2F6A74;
}

.lupa {
    color: white;
}

.btn-outline-success:hover {
    background-color: white;
    border: 1px solid #2F6A74;
}

.btn-outline-success:hover .lupa {
    color: #2F6A74;
}

.input-nav {
    border: 1px solid #2F6A74;
}

.input-nav::placeholder {
    color: #2F6A74;
    opacity: 1;
}

.nav-img {
    width: 110px;
    padding-left: 1%;
}

/* Nav2 *********************** */

.nav2 {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 65px;
    background: linear-gradient(180deg, #2F6A74, #528E96);
    width: 100%;
    z-index: 990;
    left: 0;
}

.nav2 h6, a i {
    display: flex;
    cursor: pointer;
    transition: color 0.3s; 
    color: white;
}

.nav2 h6:hover {
    text-decoration:underline;
    color: white;

}

/* .nav2 h6:hover, a:hover i {
    text-shadow: 2px 2px 5px rgba(255, 253, 253, 0.833);
 |   /* font-weight:lighter */
    /* background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
/* }  */

.nav2 div {
    padding: 1% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav2 div a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

/* Modal */
.modal-card {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d73;
    z-index: 998;
    position: fixed;
    top: 0;
}

.content-categoria {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 320px;
    position: fixed;
    left: 0;
    z-index: 999;

}

.content-categoria h4 {
    border-top: 7px solid #2F6A74;
    padding: 3% 8%;
    background-color: #f0f0f0;
    box-shadow: 0 1px 8px rgba(88, 88, 88, 0.3);
}

.content-categoria img {
    width: 180px;
    position: absolute;
    bottom: 3%;
    left: 19%;
}

.content-categoria p {
    margin-top: 27px;
    padding: 0% 8%;
    text-align: center;
}

.boton-cerrar {
    position: absolute;
    left: 90%;
    top: 5%;
    cursor: pointer;
}

.content-link-categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.link-categoria {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    gap: 20px;
    width: 250px;
    border-radius: 5px;
    height: 50px;
    font-weight: 400;
    padding-left: 4%;
    color: black;
}

.link-categoria:hover {
    background-color: #f0f0f0;
    border-right: 4px solid #2F6A74;
    font-weight: 700;
}

/* pagina de inicio */
.carousel-baner{
    height: 540px;
    margin-top: 100px;
}

.carousel-item{
    height: 100%;
}

.img-baner{
    width: 100%;
    height: 100%; /* Llenará la altura del contenedor */
    object-fit: cover;   
}

.img-pointer{
    cursor: pointer;
}

/*** icono Scroll *****/

.back-to-top-scroll {
    position: fixed;        
    bottom: 50px;         
    right: 20px;            
    padding: 10px;       
    display: none;         
    text-align: center;    
    transition: none;     
    z-index: 1000;        
}

.back-to-top-scroll i {
    font-size: 50px;       
    transition: none;      
}

.back-to-top-scroll:hover {
    cursor: pointer;       
}

.back-to-top-scroll.show {
    display: block;        
}

/*------------- Categorias */
.span {
    color: #2F6A74;
    font-weight: bold;

}

.section-categoria{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.section-categoria .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-categoria-title{
    margin-bottom: 40px;
}

.container-target-categy{
    display: flex;
    justify-content: center;
    gap: 10px 40px;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

.container-target-categy-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-imagen {
    background-color: #fffefd;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 5px #398891;
    text-align: center;
    transition: transform 0.3s ease;
    width: 240px;
    height: 200px;
}

.card-imagen:hover {
    transform: scale(1.05);
}

.card-titulo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.card-titulo:hover {
    color: hsl(25, 45%, 55%);
}

.img1 {
    width: 100%; /* Ajusta el ancho de las imágenes para adaptarse */
    height: auto;
}



/*------------- blog */

.container-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.card-container {
    display: flex;
    width: 400px;
    height: 280px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 5px #398891;
    /* border-radius: 15px;  */
    overflow: hidden;
    padding: 30px;
    align-items: center;
}

.card-container:hover {
    transform: scale(1.05);
    transition: transform 0.7s ease;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 5px #398891;
}

.container-blog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card-content-blog {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-title {
    font-size: 2rem;
    color: #333;
    /* margin-bottom: 10px; */
}

.card-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #363636;
}

.card-text span {
    font-weight: bold;
    color: #398891;
}

.btn-blog {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #30676d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-blog:hover {
    background-color: #398891;
}

.card-image-blog {
    width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.card-image-blog img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* -------------------alianzas----------------- */
.container-alianzas {
    display: flex;
    flex-direction: column;
    padding: 60px;
    align-items: center;
    width: 100%;
}

.h2container-alianzas {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 55px;
}

.span-alianzas {
    color: #2F6A74;
}

.list-alianzas {
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    gap: 40px;
}

.im-container-alianzas img{
    width: 150px;
}


/* fin pagina de inicio */

/* Footer */

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    background-color: #2F6A74;
}

.footer-img {
    width: 80px;
}

.footer-content section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3b8592;
    padding: 2% 0%;
}

.content-info-pie {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
}

.footer-content section div div h5 {
    color: white;
    text-align: left;
}

.list-info-pie {
    color: #dddddd;
}

.list-info-pie {
    color: #dddddd;
}

.list-info-pie-enlace:hover{
    color: white;
}

.list-info-pie a{
    color: #dddddd;
}

.list-info-pie:hover a{
    color: white;
}

.content-footer {
    display: flex;
    flex-direction: column;
}

.footer-tarjetas {
    display: flex;
    justify-content: space-evenly;
}

.link-tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    padding-top: 4%;
    gap: 20px;
    cursor: default;
}

.link-tarjetas:hover {
    color: white;
}    





.footer-redes {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 0%;
}

.redes-icon {
    font-size: 30px;
    display: flex;
    gap: 25px;
}

.img-tarjetas {
    width: 60px;
}

.gap-tarjetas {
    gap: 2px
}




@media(max-width: 991px) {
    .nav2 {
        position: fixed;
        top: auto;
        bottom: 0;
    }

    .color-nav {
        box-shadow: 0 1px 8px rgba(88, 88, 88, 0.3);
    }

    .nav2 div {
        flex-direction: column;
    }

    .nav2 div a {
        flex-direction: column;
    }

    .footer-content {
        margin-bottom: 57px;
    }

    .carousel-baner{
        height: 300px;
        margin-top: 65px;
    }    
}

@media(max-width: 625px) {
    .content-nav {
        flex-direction: column;
    }

    .icon-nav {
        display: none;
    }

    .nav2 h6 {
        font-size: 10px;
        font-weight: 30;
    }

    .nav2 div {
        padding: 3% 0%;
    }

    .info-pie-nosotros,
    .footer-img {
        display: none;
    }

    .content-info-pie {
        width: 100%;
        justify-content: space-evenly;
    }

    .link-tarjetas {
        padding-top: 8%;
        font-size: 10px;
    }

    .img-tarjetas {
        width: 40px;
    }

    .carousel-baner{
        height: 200px;
    }

    .card-imagen {
        width: 180px;
        height: 140px;
    }

    .im-container-alianzas img{
        width: 100px;
        height: 100px;
    }
    .back-to-top-scroll i {
        font-size: 40px;
    }
}

