.body-contactenos{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( 180deg, #ffffff, #cfcfcf, #b4b4b4, #8a8a8a);
}

/* Contendor Padre **************************************************************/

.section-contacto{
    width: 80%;
    display: flex;
    background-color: #fff;
    margin-top: 140px;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

/* Contendor de Formulario ******************************************************/

.section-form-contacto{
    width: 60%;
    /* background-color: blue; */
    padding: 3%;
}

.form-contacto{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
    height: 100%;
    /* background-color: blueviolet; */
}

.content-label-input{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    padding: 3% 0px;
}

.general-input{
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 200px;
    outline: 0;
    transition: border-color 0.9s;
}

.general-input:focus {
    border-bottom: 2px solid #2F6A74;
    transition: border-color 0.8s;
}

.descripcion-input{
    width: 79%;
}

.hola{
    display: flex;
    align-items: center;
}

.hola label{
    width: 79%;
    text-align: start;
}

.label-input{
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}

.content-forma-contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    text-align: center;
}

.forma-contacto{
    width: 80%;
    display: flex;
    justify-content:space-evenly;
}

.checkbox{
    text-align: center;
    margin: 3%;
}


/* Contendor de información *************************************************/

.section-info-contacto{
    position: relative;
    width: 40%;
    background-color: rgb(231, 231, 231);
    padding: 2%;
    border: 20px solid #fff;
    border-radius: 30px;
    overflow: hidden;
    z-index: 1;
}

.info-contacto{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-contacto h2, h5, h6{
    color: #2F6A74;
    text-align: center;
}

.content-link-contacto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 3% 0%;
}

.link-contacto{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}
 
.link-contacto:hover {
    color: #2F6A74;
    text-decoration: underline;
}
  
.circle {
    position: absolute;
    bottom: -200px; 
    right: -100px; 
    width: 300px; 
    height: 300px;
    background-color: rgba(47, 106, 116, 0.5);  
    border-radius: 50%; 
    /* z-index: -1; */
}
.circle1{
    position: absolute;
    bottom: -20px; 
    right: 70px; 
    width: 140px; 
    height: 140px;
    background-color: rgba(47, 106, 116, 0.24);
    border-radius: 50%; 
    z-index: -1;  
}
/* Responsive *****************************************************************/

@media (max-width: 1000px){
    .section-contacto{
        flex-direction: column;
        margin-top: 100px;
    }

    .section-form-contacto{
        width: 100%;
    }

    .section-info-contacto{
        width: 100%;
    }
    
    .descripcion-input{
        width: 72%;
    }

    .hola label{
        width: 72%;
        text-align: start;
    }
}