.body-Crear-Productos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff, #cfcfcf, #b4b4b4, #8a8a8a);
}

.section-Crear-Productos {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}

.section-form-crear-producto {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2%;
}

#titulo-crear {
    color: #2F6A74;
    text-align: center;
}

.form-crear-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.content-label-crear {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-between;
}

.label-crear {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.label-crear label {
    margin-right: 1px;
    width: 200px;
}

.input-crear-producto {
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 200px;
    outline: 0;
    transition: border-color 0.9s;
}

.input-crear-producto:focus {
    border-bottom: 2px solid #2F6A74;
    transition: border-color 0.8s;
}

.label-precio{
    display: flex;
    flex-direction: column;
}

.label-precio-descripcion {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    width: 100%;
    margin-top: 20px;
}

.content-boton-crear {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-crear {
    width: 200%;
    border-radius: 5px;
    border: 1px solid #2F6A74;
    color: white;
    background-color: #2F6A74;
    padding: 20%;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

#boton-crear:hover {
    background-color: white;
    background-color: white;
    border: 1px solid #2F6A74;
    color: #2F6A74;
    transition: all 0.5s ease;
}

.descripcion{
    display: flex;
}

.descripcion-crear {
    width: 230%;
}

.label-disponibilidad {
    display: flex;
    margin-right: 30%;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container-crear {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-crear {
    margin-bottom: 20px;
}

.card-title-crear {
    color: #742f2f;
}

@media (max-width: 978px) {
    .descripcion-crear {
        width: 100%;
    }
}