.body-Crear-Productos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../img/img-blog/fondo-adopcion.png");
    padding: 20px;
}

.section-Crear-Productos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-form-crear-producto {
    width: 70%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 2%;
}

.form-crear-producto-img{
    width:90px;
    position: absolute;
    left: 70px;
}

#titulo-crear {
    color: #2F6A74;
    text-align: center;
}

.form-crear-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 4%;
    color: #1c3d44;
}

.select-container {
    position: relative;
    width: 250px;  /* Ajusta el tamaño del contenedor según necesites */
  }
  
  .general-input {
    width: 100%;
    padding: 5px 15px 5px 15px;  /* Padding a la derecha para la flecha */
    font-size: 16px;
    border: none;  /* Ajusta el borde */
    border-radius: 8px;
    background-color: #b29984;
    color: white;
    appearance: none;  /* Elimina la flecha predeterminada */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .select-container::after {
    content: '\2193';  /* Código Unicode de la flecha hacia abajo */
    font-size: 18px;
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;  /* Coloca la flecha dentro del select */
    transform: translateY(-50%);
    pointer-events: none;  /* No interfiere con la interacción */
  }
  

.content-label-crear {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-between;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    background-color: #b299845e;
    box-shadow: inset 0px 10px 15px rgba(145, 145, 145, 0.1), inset 0px -10px 15px rgba(216, 216, 216, 0.1);
}

.label-crear {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.label-crear label {
    margin-right: 1px;
    width: 200px;
}

.input-crear-producto {
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 200px;
    outline: 0;
    transition: border-color 0.9s;
    background-color: #b4b4b400;
}

.input-crear-producto:focus {
    border-bottom: 2px solid #2F6A74;
    transition: border-color 0.8s;
}

.label-precio{
    display: flex;
    flex-direction: column;
}

.label-precio-descripcion {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    width: 100%;
    margin-top: 20px;
}

.content-boton-crear{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.boton-form-product {
    width: 90px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2F6A74;
    color: white;
    background-color: #2F6A74;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.boton-form-product:hover {
    background-color: white;
    background-color: white;
    border: 1px solid rgb(218, 175, 59);
    color: rgb(218, 175, 59);
    transition: all 0.5s ease;
}

#boton-eliminar{
    background-color: #b29984;
    border: none
}

#boton-eliminar:hover{
    background-color: white;
    background-color: white;
    border: 1px solid rgb(184, 40, 40);
    color: rgb(184, 40, 40);
    transition: all 0.5s ease;
}

#boton-crear:hover{
    background-color: white;
    background-color: white;
    border: 1px solid rgb(51, 119, 51);
    color: rgb(51, 119, 51);
    transition: all 0.5s ease;
}

.descripcion{
    display: flex;
}

.descripcion-crear {
    width: 230%;
}

.label-disponibilidad {
    display: flex;
    margin-right: 30%;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container-crear {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-crear {
    margin-bottom: 20px;
}

.card-title-crear {
    color: #742f2f;
}

@media (max-width: 978px) {
    .descripcion-crear {
        width: 100%;
    }
}